body {
    font-family: Cochin;
    background-color: bisque;
}

h1 {
    text-align: center;
}
.square {
    height: 150px;
    width: 150px;
    border: solid 3px black;
    color: white;
    text-align: center;
}

#squaresContainer {
    display: flex;
    justify-content: space-around;
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

button {
    background-color: black;
    color: white;
}